* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    font-family: "Mplus 1p";
}


/*ナビ*/

#header {
    width: 100%;
    background: rgba(255, 255, 255, 0);
    padding: 0px;
    position: fixed;
    z-index: 3;
}

nav {
    height: 55px;
    margin-top: 0px;
}

ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

nav li {
    flex-grow: 1;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: center;
}

nav a {
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    line-height: 55px;
    display: inline-block;
}

#header img {
    padding-top: 8px;
}


/*トップ画像*/

#main-visual {
    width: 100%;
    height: 620px;
    background: rgba(0, 0, 0, 0.5) url(main.JPG) center center no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    position: relative;
    color: #fff;
}

.visual {
    width: 80%;
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -55%);
    -ms-transform: translate(-50%, -55%);
    -o-transform: translate(-50%, -55%);
    transform: translate(-50%, -55%);
    z-index: 2;
    overflow: hidden;
}

.title {
    width: 55%;
    margin-right: 5%;
    float: left;
}

.top-title {
    font-size: 56px;
    font-weight: 400;
    margin-bottom: 15px;
}

.sub-title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 30px;
}

.overview {
    font-size: 14px;
    line-height: 1.7;
}

.video {
    width: 40%;
    float: left;
}


/*
.sub-visual {
    background: #000;
    width: 100%;
    height: 620px;
    position: absolute;
    opacity: 0.5;
    z-index: 1;
}
*/

.visual2 {
    width: 80%;
    position: absolute;
    top: 75%;
    left: 50%;
    -webkit-transform: translate(-50%, -25%);
    -ms-transform: translate(-50%, -25%);
    -o-transform: translate(-50%, -25%);
    transform: translate(-50%, -25%);
    /*    translate(x, y)!!!!*/
    z-index: 2;
    overflow: hidden;
}

.button {
    width: 30%;
    height: 80px;
    border: 1px solid #fff;
    float: left;
    text-align: center;
}

.button h3 {
    font-size: 28px;
    font-weight: 400;
    margin-top: 3px;
}

.button p {
    font-size: 16px;
    line-height: 1.7;
}

#kss {
    margin-right: 5%;
}

#apply {
    margin-right: 5%;
}

.visual2 a {
    width: 300px;
    height: 80px;
    border: none;
    float: left;
    /*    ↑これがないとhoverのbackgroungが機能しない*/
    text-decoration: none;
    color: #fff;
}

.visual2 a:hover {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    transition: 0.5s;
}


/*What's NewとFB*/

.main-contents {
    width: 100%;
    overflow: hidden;
}

.container1 {
    width: 80%;
    margin: 10% auto;
    overflow: hidden;
}

.content {
    height: 460px;
    float: left;
}

#news {
    width: 65%;
    margin-right: 5%;
}

#social {
    width: 30%;
}


/*
#twitter {
    width: 300px;
    margin-left: 20px
} 
*/

.topic-title {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 0 10px 0px;
    text-align: center;
    background: #FF961B;
}

.content p {
    font-size: 14px;
    line-height: 1.7;
    margin: 11px 0;
    padding: 12px 10px;
    border-left: 5px solid #FF961B;
    background-color: #efefef;
}

.date {
    color: #a3a2a2;
    font-weight: 800;
}

.news {
    color: #201E51;
    text-decoration: none;
    margin-left: 10px;
}

.fb-page {
    margin-top: 10px;
}


/*
.twitter {
    margin-top: 10px;
}
*/


/*挨拶*/

.container2 {
    width: 80%;
    margin: 10% auto;
    overflow: hidden;
}

.content2 {
    width: 100%;
    float: left;
}

#stephane {
    margin-bottom: 10%;
}

.content2 h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding: 10px 0 10px 20px;
    background: #FF961B;
}

.greeting {
    width: 65%;
    float: left;
}

.greeting-text {
    font-size: 14px;
    line-height: 1.7;
    margin: 20px 0px 20px 5px;
}

.signature {
    font-size: 14px;
    line-height: 1.7;
    text-align: right;
}

.name {
    font-size: 24px;
}

.content2 img {
    width: 33%;
    margin-top: 2%;
    margin-left: 2%;
}


/*サイトマップ*/

#footer {
    width: 100%;
    height: 150px;
    background-color: #201E51;
    overflow: hidden;
}

.footer-content {
    width: 80%;
    margin: 8% auto;
    color: #fff;
    text-align: center;
    position: relative;
}

#go-top {
    position: absolute;
    bottom: 50px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    
    width: 0;
	height: 0;
	border: 35px solid transparent;
	border-bottom: 45px solid #fff;
}
